.DownloadLink_Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 1px dotted black;
    border-radius: 10px;
    padding: 5px;
}
.DownloadLink_Container > div {
    flex : 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.DownloadLink_Container > div > span{
    font-size: 12pt;
    font-weight: bold;
}