.Detials_Container {
    border: 1px solid red;
    border-radius: 10px;
    background-color: lightgreen;
    margin: 5px;
}

.Detials_Container > span {
    text-decoration: wavy;
    font-size: 15pt;
    margin: 15px;
    color: red;
}