.Container {
    border: 1px solid red;
    border-radius: 10px;
    background-color: #ffc8c9;
    margin: 5px;
}

.Container > span {
    text-decoration: wavy;
    font-size: 15pt;
    margin: 15px;
    color: red;
}