.App
{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.SideBarContainer {
    display: flex;
    background-color: red;
    width: 250px;
}
.ContentContainer {
    display: flex;
    flex: 1;
    background: linear-gradient(black, grey);
}
.Content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 20px;
    overflow-y: scroll;
    background: linear-gradient(orange, white);
}
.Content::-webkit-scrollbar {
    width: 12px;
}

.Content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.Content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}